.logo {
  width: 50px;
  height: 50px;
}
.item {
  color: white;
}
.topBar {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 65px;
}

.noneCaseBtn {
  text-transform: none;
}
/* Text Styles */
.titleTxt {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.topBarTxt {
  font-size: 18px;
  font-weight: 700;
  color: black;
  flex-grow: 1;
}
/* Text Styles */

/* Table cell*/
.tableTitle {
  display: flex;
  flex-direction: column;
}
/* styles.css hoáº·c globals.css */
.custom-table-cell {
  padding-left: 16px !important;
  padding: 4px 8px !important;
}
